@media only screen and (max-width:700px){
    .ab-main {
        display: flex;
        padding: 0;
        max-height: 300px;
    }
    .justify-content-center {
        height: 400px;
        height: 500px;
    }
    .justify-content-center > h3 {
        text-align: center;
        margin-top: 30px;
        font-family: PoppinsMeduim, sans-serif;
        font-size: 40px;
    }
    .justify-content-center > p {
        text-align: justify;
        font-family: PoppinsMeduim, sans-serif;
        font-size: 13px;
        padding: 10px;
        padding-top: 10px;
    }
    .about img {
        width: calc(100vw - 20px);
        height: 95vw;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10px;
        border-radius: 10px;
    }
    .about {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
}

