



/* Navbar */

.navbar-link{
  text-decoration: none;
  
  color: #ffffff;
  font-weight: bold;

}

.navbar-link:hover{
  color: rgb(241, 241, 203);
}

/* details page */
.card-img-top {
  width: 100%;
  
  object-fit: contain;
}

.mycard-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40rem;
  
}
